@import "../../../theme/mixins";

ion-card,
.subjects__list {
  background: var(--skd-card-color);

  ion-item,
  ion-item:hover,
  ion-item:focus {

    @include to-xs {
      --detail-icon-opacity: 0.25 !important;
    }
  }

  ion-list {
    background: var(--skd-card-color);

    .subjects__topic {
      h2 { padding: 0 10px; }
    }

    .header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-button {
        --padding-start: 0;
        --padding-end: 0;
        width: 36px;

        ion-icon {
          padding-left: 12px;
          --ionicon-stroke-width: 46px;
        }
      }
    }

    ion-item {
      --background: var(--skd-background-color);
      --background-hover: rgba(var(--ion-color-primary-rgb), 1);
      --background-selected: rgba(var(--ion-color-primary-rgb), 0.4);
      --background-focused: rgba(var(--ion-color-primary-rgb), 0.6);
      --background-activated: none;
      --detail-icon-color: #616e7e;
      --detail-icon-opacity: 1;
      border-radius: 5px;
      padding: 0;
      --min-height: 40px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      @include to-xs {
        --padding-start: 10px;
        --inner-padding-end: 5px;
        --min-height: 33px;
      }

      .element__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 0;
        margin-right: 5px;

        @include to-xs {
          display: block;
        }

        .title, .description {
          font-weight: 500;

          @include to-xs {
            width: 100%;
          }
        }

        .title {
          width: 70%;
          text-wrap: normal;
          margin-right: 10px;
          margin-top: 1px;
          font-size: 1em;
          color: white;

          @include to-xs {
            width: 100%;
            font-size: 0.85em;
          }
        }

        .description {
          width: 30%;
          text-align: right;
          font-size: 0.90em;
          color: #808080;

          @include to-xs {
            width: 100%;
            font-size: 0.75em;
            text-align: left;
          }
        }
      }

      &:hover {
        @media (hover: hover) and (pointer: fine) {
          --background: black;
          --background-hover: var(--skd-background-color);
          --detail-icon-opacity: 1;
          --detail-icon-color: var(--ion-color-primary);

          .title {
            text-decoration: underline;
            text-decoration-color: var(--ddu-primary-color);
          }

          .description {
            color: white;
          }
        }
      }
    }
  }
}
