@import "../../../theme/mixins";

.article__content {
  ion-card {
    background: #2C2E31;
  }

  ion-list {
    padding: 10px 10px !important;
    background: #2C2E31;
    h1 { padding-left: 0; }
  }

  .article__header {
    margin-top: 5px;

    h1 {
      text-decoration: underline;
      padding: 0;
      margin: 0;

      @include to-xs {
        font-size: 1.5em;
      }
    }

    h4 {
      font-size: 1.1em;
      color: #b4b4b4 !important;
      margin-top: 1px;
    }
  }
}

.article__element {

  h2, h3, p, ul, li {
    code {
      @include to-xs {
        font-size: 0.9em;
      }
    }
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.3em;
  }

  p {
    font-size: 1.1em;

    .overline { text-decoration: overline !important; }
  }

  ul {
    li {
      margin-left: 30px;
      list-style-position: outside;
    }

    p {
      margin: 3px 0px;
    }

    .list__second {
      list-style: square;
    }

    .list__second:first-child {
      margin-top: 5px;
    }

    .list__second:last-child {
      margin-bottom: 15px;
    }
  }

  img {
    cursor: pointer;
    border-radius: 5px;
  }

  hr {
    background: white;
    margin: 30px 0;
  }

  iframe {
    width: 100%;
    border: 0;
    margin-top: 20px;
  }

  strong {
    font-weight: 900;
  }

  .code-highlighter {
    code {
      text-shadow: none !important;
    }

    code:first-child {
      color: grey !important;
      padding-left: 5px;
    }
  }

  .download-container {
    form {
      display: flex;
      align-items: center;
    }
  }

  .file-container {
    cursor: pointer;
    display: flex;
    width: fit-content;
    padding: 0 10px;
    border: 1px solid var(--ion-color-primary);
    border-radius: 5px;

    * {
      margin: 0;
      padding: 5px 0;
    }

    .file-type {
      padding-right: 10px;
      border-right: 1px solid var(--ion-color-primary);
    }

    .file-label {
      background: var(--ion-color-primary);
      padding: 5px 20px;
      color: black;
      text-decoration: underline;
      text-decoration-color: black !important;
    }

    .file-size {
      padding-left: 10px;
      border-left: 1px solid var(--ion-color-primary);
    }
  }
}

.table__wrapper {
  overflow: auto;
  padding-left: 4px;

  p { padding: 0; }

  table {
    margin-bottom: 15px;

    @include to-xs {
      * { font-size: .98em; }
      code { font-size: .90em; }
    }

    th {
      background: black;
      font-weight: 500;
    }

    td, th {
      padding: 5px 8px;
    }

    th, td {
      border: 1px solid white;
      vertical-align: top;
    }

    tr:not(:last-child) {
      th, td {
        border-bottom: 1px solid #535353;
      }
    }

    th:not(:last-child), td:not(:last-child) {
      border-right: 1px solid #535353;
    }

    td.left,
    th.left { text-align: left; }

    td.middle,
    th.middle { text-align: center; }

    td.right,
    th.right { text-align: right; }
  }
}
