@import "../../../theme/mixins";
@font-face {
  font-family: 'JetBrains Mono Medium';
  font-weight: 500;
  src: url('../../../app/fonts/JetBrainsMono-Medium.eot'); /* IE9 Compat Modes */
  src: local('JetBrains Mono Medium'),
  url('../../../app/fonts/JetBrainsMono-Medium.woff2') format("woff2"),  /* Super Modern Browsers */
  url('../../../app/fonts/JetBrainsMono-Medium.woff') format("woff"), /* Modern Browsers */
  url('../../../app/fonts/JetBrainsMono-Medium.ttf') format("ttf"), /* Safari, Android, iOS */
  url('../../../app/fonts/JetBrainsMono-Medium.eot') format("eot");
}

.article__content {

  ion-card {
    background: var(--skd-card-color);
  }

  ion-list {
    padding: 15px 10px 10px;
    background: var(--skd-card-color);

    @include to-xs { padding: 15px 10px 10px; }

    h1 { padding-left: 0; }
  }
}

.article__element {

  li:first-of-type {
    margin-top: 10px;
  }

  h2, h3 {
    font-weight: 600;
  }

  h2, h3, p, ul, li {
    code {
      font-family: "JetBrains Mono", monospace !important;
      @include to-xs {
        font-size: 0.9em;
      }
    }
  }

  h2 {
    font-size: 1.6em;

    @include to-xs {
      font-size: 1.4em;
    }

    @include to-tiny {
      font-size: 1.3em;
    }
  }

  h3 {
    font-size: 1.3em;
    margin-top: 15px;
    margin-bottom: 10px;

    @include to-xs {
      font-size: 1.2em;
    }

    @include to-tiny {
      font-size: 1.1em;
    }
  }

  p {
    font-size: 1.1em;

    @include to-xs {
      font-size: 1em;
    }

    @include to-tiny {
      font-size: .9em;
    }

    .overline { text-decoration: overline !important; }
  }

  h2 .ddu-list-number, h2 .list-number {
    font-size: 0.9em;
  }

  .ddu-list-number,
  .list-number {
    display: inline-flex;
    --size: 30px;
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    font-size: 1em;
    justify-content: center;
    color: var(--ion-color-primary);
    background: var(--skd-background-color);
    border-radius: 50%;
    margin-right: 5px;
    flex-shrink: 0;
  }

  ol {
    counter-reset: ordered-list-counter;
    list-style: none;
    padding-left: 0;

    .tk-list-header {
      margin: 0;
    }

    li {
      margin: 0 0 6px 5px;
      counter-increment: ordered-list-counter;
      position: relative;
      display: flex;
      align-items: center;

      p {
        margin: 0 0 2px 8px;
      }
    }

    li::before {
      content: counter(ordered-list-counter);
      color: var(--ion-color-primary);
      font-size: 1.1em;
      --size: 28px;
      left: calc(-1 * var(--size) - 10px);
      line-height: var(--size);
      width: var(--size);
      height: var(--size);
      top: 0;
      background: var(--skd-background-color);
      border-radius: 50%;
      text-align: center;
      flex-shrink: 0;
    }

  }

  ul {
    li {
      margin-left: 30px;
      list-style-position: outside;
    }

    p {
      margin: 3px 0px;
    }

    .list__second {
      list-style: square;
    }

    .list__second:first-child {
      margin-top: 5px;
    }

    .list__second:last-child {
      margin-bottom: 15px;
    }
  }

  img {
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 0;
  }

  hr {
    background: white;
    margin: 30px 0;
  }

  iframe {
    width: 100%;
    border: 0;
    margin-top: 20px;
  }

  strong, b {
    font-weight: 900;
  }

  .hint {
    background: var(--skd-background-color);
    color: white !important;
    padding: 15px;
    margin: 30px 0;
    border-left: 4px solid var(--ddu-primary-color);
    border-top-right-radius: var(--ddu-border-radius);
    border-bottom-right-radius: var(--ddu-border-radius);
  }

  .code-highlighter, .hljs {
    background: black;
    padding: 1.5em 2em;
    border-radius: 0.5em;
    box-shadow: black 1px 1px 0.5em inset;

    @include to-xs {
      font-size: 10px;
    }

    * {
      font-family: 'JetBrains Mono Medium', monospace !important;
    }
  }

  .java {
    color: #a8b7c7 !important;

    .class-name {
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .function {
      color: #ffbe01 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .keyword, .boolean {
      color: #ff922c !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .number {
      color: #249eff !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .single-quoted-string,
    .string {
      color: #6bda19 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .comment {
      color: #7f7f7f !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
  }

  .javascript {
    color: #a8b7c7 !important;

    .class-name {
      color: #a055c6 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .function {
      color: #ffbe01 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .keyword {
      color: #ff922c !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .number {
      color: #249eff !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .single-quoted-string,
    .string {
      color: #6bda19 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .comment {
      color: #7f7f7f !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
  }

  .php {
    .variable {
      color: #a055c6 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .function {
      color: #ffbe01 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .delimiter,
    .keyword {
      color: #ff922c !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .number {
      color: #249eff !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .single-quoted-string,
    .string {
      color: #6bda19 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .comment {
      color: #7f7f7f !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
  }

  .sql {
    color: #a8b7c7 !important;

    .class-name {
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .function {
      color: #ffbe01 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .keyword, .boolean {
      color: #ff922c !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .number {
      color: #249eff !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .single-quoted-string,
    .string {
      color: #6bda19 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .comment {
      color: #7f7f7f !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
  }

  .download-container {
    form {
      display: flex;
      align-items: center;
    }
  }

  .file-container {
    cursor: pointer;
    display: flex;
    width: fit-content;
    padding: 0 10px;
    border: 1px solid var(--ddu-primary-color);
    border-radius: 5px;
    text-decoration: none;

    * {
      margin: 0;
      padding: 5px 0;
    }

    .file-type {
      color: white;
      padding-right: 10px;
      flex-shrink: 0;
    }

    .file-label {
      background: var(--ddu-primary-color);
      padding: 5px 20px;
      color: black;
      word-break: break-all;
    }

    .file-size {
      color: white;
      padding-left: 10px;
      flex-shrink: 0;
    }
  }
}

.table__wrapper {
  overflow: auto;

  p { padding: 0; }

  table {
    margin-bottom: 15px;

    @include to-xs {
      * { font-size: .98em; }
      code { font-size: .90em; }
    }

    th {
      background: black;
      font-weight: 500;
    }

    td, th {
      padding: 5px 8px;
    }

    th, td {
      border: 1px solid white;
      vertical-align: middle;
    }

    tr:not(:last-child) {
      th, td {
        border-bottom: 1px solid #535353;
      }
    }

    th:not(:last-child), td:not(:last-child) {
      border-right: 1px solid #535353;
    }

    td.left,
    th.left { text-align: left; }

    td.middle,
    th.middle { text-align: center; }

    td.right,
    th.right { text-align: right; }

    td.colSpan,
    th.colSpan { text-align: center; }
  }
}

.light-theme {
  .article__element {

    img {
      color: black;
    }

    .hint {
      background: #f3f3f3;
      color: black !important;
    }
  }
  .list-number,
  .ddu-list-number {
    font-weight: 600;
    background: #f3f3f3;
  }
  ol {
    color: black;

    li::before {
      font-weight: 600;
      background: #f3f3f3;
    }
  }
}
