@import "../../../theme/mixins";
@font-face {
  font-family: 'JetBrains Mono Medium';
  font-weight: 500;
  src: url('../../../app/fonts/JetBrainsMono-Medium.eot'); /* IE9 Compat Modes */
  src: local('JetBrains Mono Medium'),
  url('../../../app/fonts/JetBrainsMono-Medium.woff2') format("woff2"),  /* Super Modern Browsers */
  url('../../../app/fonts/JetBrainsMono-Medium.woff') format("woff"), /* Modern Browsers */
  url('../../../app/fonts/JetBrainsMono-Medium.ttf') format("ttf"), /* Safari, Android, iOS */
  url('../../../app/fonts/JetBrainsMono-Medium.eot') format("eot");
}

.article__content {
  ion-card {
    background: var(--skd-card-color);
  }

  ion-list {
    padding: 15px 10px 10px;
    background: var(--skd-card-color);

    @include to-xs { padding: 15px 10px 10px; }

    h1 { padding-left: 0; }
  }
}

.article__element {

  h2, h3, p, ul, li {
    code {
      font-family: "JetBrains Mono", monospace !important;
      @include to-xs {
        font-size: 0.9em;
      }
    }
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.3em;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1em;

    .overline { text-decoration: overline !important; }
  }

  ul {
    li {
      margin-left: 30px;
      list-style-position: outside;
    }

    p {
      margin: 3px 0px;
    }

    .list__second {
      list-style: square;
    }

    .list__second:first-child {
      margin-top: 5px;
    }

    .list__second:last-child {
      margin-bottom: 15px;
    }
  }

  img {
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 0;
  }

  hr {
    background: white;
    margin: 30px 0;
  }

  iframe {
    width: 100%;
    border: 0;
    margin-top: 20px;
  }

  strong, b {
    font-weight: 900;
  }

  .code-highlighter, .hljs {
    background: var(--skd-background-color);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: black 1px 1px 0.5em inset;
    font-size: 12px;

    @include to-xs {
      font-size: 10px;
    }

    * {
      font-family: 'JetBrains Mono Medium', monospace !important;
    }

    code:first-child {
      color: grey !important;
      padding-left: 5px;
      margin-right: 10px;
      border-right: 1px solid grey;
    }
  }

  .java {
    color: #a8b7c7 !important;

    .class-name {
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .function {
      color: #e9c063 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .keyword, .boolean {
      color: #ce7827 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .number {
      color: #6696bc !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .single-quoted-string,
    .string {
      color: #6a8556 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .comment {
      color: #7f7f7f !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
  }

  .javascript {
    color: #a8b7c7 !important;

    .class-name {
      color: #9874ab !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .function {
      color: #e9c063 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .keyword {
      color: #ce7827 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .number {
      color: #6696bc !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .single-quoted-string,
    .string {
      color: #6a8556 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .comment {
      color: #7f7f7f !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
  }

  .php {
    .variable {
      color: #9874ab !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .function {
      color: #e9c063 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .delimiter,
    .keyword {
      color: #ce7827 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .number {
      color: #6696bc !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .single-quoted-string,
    .string {
      color: #6a8556 !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
    .comment {
      color: #7f7f7f !important;
      text-shadow: 0px 0px .2px hsl(0,0%,50%) !important;
    }
  }

  .download-container {
    form {
      display: flex;
      align-items: center;
    }
  }

  .file-container {
    cursor: pointer;
    display: flex;
    width: fit-content;
    padding: 0 10px;
    border: 1px solid var(--ion-color-primary);
    border-radius: 5px;
    text-decoration: none;

    * {
      margin: 0;
      padding: 5px 0;
    }

    .file-type {
      color: white;
      padding-right: 10px;
      flex-shrink: 0;
    }

    .file-label {
      background: var(--ion-color-primary);
      padding: 5px 20px;
      color: black;
      word-break: break-all;
    }

    .file-size {
      color: white;
      padding-left: 10px;
      flex-shrink: 0;
    }
  }
}

.table__wrapper {
  overflow: auto;

  p { padding: 0; }

  table {
    margin-bottom: 15px;

    @include to-xs {
      * { font-size: .98em; }
      code { font-size: .90em; }
    }

    th {
      background: black;
      font-weight: 500;
    }

    td, th {
      padding: 5px 8px;
    }

    th, td {
      border: 1px solid white;
      vertical-align: top;
    }

    td .hint {
      font-size: .75em;
    }

    tr:not(:last-child) {
      th, td {
        border-bottom: 1px solid #535353;
      }
    }

    th:not(:last-child), td:not(:last-child) {
      border-right: 1px solid #535353;
    }

    td.left,
    th.left { text-align: left; }

    td.middle,
    th.middle { text-align: center; }

    td.right,
    th.right { text-align: right; }
  }
}

.light-theme {
  .article__element img {
    color: black;
  }
  ol {
    color: black;
  }
}
