@import "../../../theme/mixins";


.ddu-add-exam-popover {

  .popover-content.sc-ion-popover-ios {
    background: transparent;
    border-radius: var(--ddu-border-radius);

    ion-item {
      --padding-start: 0;
    }
  }

  .popover-content {
    width: 350px;
  }

  .ddu-add-exam-container {
    padding: 20px;
    background: black;
    border: 2px solid var(--ion-color-primary);
    text-align: center;

    ion-item {
      --color: white;
      background: #1e2023;
    }

    ion-item {
      .DayPickerInput-OverlayWrapper {
        transform: translate3d(0, 5%, 0);
      }
    }

    .ddu-date-input.item-has-focus,
    .ddu-date-input.item-has-value {
      ion-label {
        transform: translate3d(1.5%, 50%, 0) scale(0.75);
      }
    }

    .DayPickerInput {
      display: initial;
      width: 100%;
      margin-top: 9px;
      background: #1e2023;

      .DayPicker-Day--today {
        color: var(--ion-color-primary) !important;
        font-weight: 700;
      }

      .DayPicker-Day--selected {
        background-color: var(--ion-color-primary) !important;
        color: black !important;
      }

      .DayPickerInput-Overlay {
        position: relative;
        background: black;
        text-align: center;
      }

      .DayPickerInput-OverlayWrapper {
        z-index: 999;

        .DayPicker-Day:not(.DayPicker-Day--outside):hover {
          background: var(--ion-color-primary) !important;
          color: black !important;
        }

        .DayPicker-Day--today {
          color: var(--ion-color-primary) !important;
          font-weight: 700;
        }

        .DayPicker-Day--selected {
          background-color: var(--ion-color-primary) !important;
          color: black !important;
        }
      }
    }

    .ddu-date-input,
    .ddu-subject-input,
    .ddu-title-input {

      &.item-has-value ion-label {
        color: grey !important;
      }
      &.item-has-focus ion-label {
        color: var(--ion-color-primary) !important;
      }

    }

    .ddu-date-input {
      --padding-start: 0;
      --inner-padding-end: 0;

      ion-label {
        padding-left: 20px;
        --padding-start: 25px;
      }

      ion-input {
        --padding-start: 20px;
      }
    }

    .ddu-subject-input:not(.item-has-value) {
      ion-label {
        transform: translate3d(0, 100%, 0);
      }

      ion-select {
        transform: translate3d(0, -20%, 0);
      }
    }

    .ddu-subject-input {
      ion-select {
        padding-inline-start: 5px;
      }
    }

    ion-button {
      margin-top: 20px;
      --border-color: #616e7e;
    }

    ion-button:hover {
      --border-color: var(--ion-color-primary);
    }

    ion-item {
      --background: transparent;
      --border-color: black;

      ion-input {
        --padding-top: 0;
        --padding-bottom: 0;
      }

      ion-label,
      ion-input {
        padding-left: 5px;
        --padding-start: 5px;
      }
    }
  }
}

.select-popover {
  .sc-ion-popover-ios-h {
    background: transparent;
  }

  ion-item:last-child { --inner-border-width: 0; }

  ion-list {
    padding: 0;
  }

  .popover-arrow,
  .popover-content ion-item {
    --background: var(--ion-color-primary) !important;
    color: black;

    ion-label {
      white-space: initial !important;
    }
  }

  .popover-content ion-item {
    ion-label { color: black; }
    ion-radio {
      --color: black;
      --color-checked: black;
    }
  }

  .popover-content {
    background: transparent;
  }
}

/* LIGHT THEME */
.light-theme {
  .ddu-add-exam-popover {
    .ddu-add-exam-container {
      background: white;

      .DayPickerInput {
        background: #f0f0f0;
      }

      ion-item {
        --background: #f0f0f0 !important;

        ion-input {
          --background: #f0f0f0;
        }
      }

      .ddu-subject-input:not(.item-has-value) {
        ion-label {
          color: black;
        }
      }

      .DayPickerInput .DayPickerInput-Overlay {
        position: relative;
        background: white;
      }
    }
  }
}
