@import "../../../theme/mixins";

.post__card {
  .article-header {
    .article-details {
      width: 100%;

      ion-button ion-icon {
        padding-left: 12px;
        --ionicon-stroke-width: 48px;
      }
    }

    ion-button {
      --padding-end: 4px;
    }
  }

  .ddu-last-update-label {
    text-align: right;
    color: #b4b4b4;
    margin-top: 20px;

    @include to-xs {
      font-size: .9em;
    }
  }
}

.markAsRead-card {
  height: 80px;
  justify-content: center;

  @include to-xs {
    height: 60px;
  }

  .markAsRead-button {
    align-self: flex-end;
    width: fit-content;
    margin-right: 10px;
  }

  .spinner__wrapper {
    margin: 5px 0;
  }
}

/* LIGHT THEME */
.light-theme {
  .post__card {
    .ddu-last-update-label {
      color: #808080;
    }
  }
}
