@import "../../../theme/mixins";

.learningResources-card {
  padding: 10px 30px;

  h1 {
    margin-top: 15px;
    padding: 0;
  }

  h2 {
    margin-top: 0;
  }

  ul {
    li { margin-left: 35px; }
  }

  ul { margin-top: 20px;}
}
