@import "./../../../theme/mixins";

.article__container {

  h1 {
    width: fit-content;
    padding: 0;
    margin-left: 10px;

    @include to-xs {
      font-size: 1.5em;
    }
  }

  h2 {
    padding: 20px 10px;
    font-size: 1.1em;
  }

  h3 {
    padding: 0 10px;
    font-size: 1.1em;
  }

  p {
    padding: 0 10px;
    font-size: 1em;
  }

  ul {
    li {
      margin-left: 30px;
      list-style-position: outside;
    }
  }

  .article__list ion-list {
    background: #2c2e31;

    .article__element:nth-child(2) {
      h2 {
        padding-top: 0;
      }
    }

    .article__header__container {
      margin-top: 5px;
      margin-bottom: 20px;

      .article__title {
        h1, h4 {
          margin: 0 10px;
        }
        h4 {
          font-size: 1.1em;
          color: #b4b4b4 !important;
        }
      }
    }
  }

  .title__progress__wrapper { width: fit-content; }

  .article__progress__wrapper {
    margin: 3px 10px;

    .article__progressbar {
      --background: var(--ion-color-primary);
      --progress-background: white;
      border-radius: 4px;
    }
  }

  .spinner__wrapper {
    height: 100px;
    display: flex;
    align-items: center;

    ion-spinner {
      width: 100%;
    }
  }
}

