@import "./../../theme/mixins.scss";

.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
}

ion-list, .ios {
  ul {
    margin-top: 10px;
  }
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  max-width: 1000px;

  @include to-md {
    margin: 15px 10px ;
  }

  @include to-xs {
    margin: 10px 10px 10px;
  }

  h1 {
    font-size: 2.3em;
    margin: auto;
    padding-left: 107px;

    @include to-md {
      padding-left: 10px;
      margin-left: 0;
      font-size: 2em;
    }

    @include to-xs {
      font-size: 1.5em;
    }
  }

  .buttons__wrapper {

    .navigate__back__button {
      font-size: 20px;
      height: 48px;
      --padding-start: 0;
      --padding-end: 0;

      @include to-xs {
        height: 40px;
        width: 40px;
      }
    }

    .log__button {
      height: 48px;
      width: 48px;
      padding: 0;
      --padding-start: 0;
      --padding-end: 0;
      margin-left: 5px;
      --border-radius: 4px;

      @include to-xs {
        height: 40px;
        width: 40px;
      }

      ion-icon {
        color: #73849a;
        width: 100%;
        height: 35px;
        margin: 0;

        @include to-xs {
          height: 30px;
        }
      }
    }

    .log__button.button-disabled {
      opacity: 1;

      ion-icon {
        color: var(--ion-color-primary);
      }
    }

    .log__button:not(.ios):hover,
    .log__button.ios.selected {
      ion-icon {
        color: #73849a;
      }
    }
  }
}

.log__toast {
  --background: black;
  --color: white;
  @include from-xs { transform: translateY(-50px) !important; }
}

