@import "./../../theme/mixins";

ion-menu {
  border-right: 0;
}

.menu-pane-visible {
  width: 300px;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  &:not(#title-list) {
    padding: 10px;
  }

  padding-top: 0;
  padding-bottom: 0;
  background: var(--ion-background-color);
}

ion-menu.md ion-note {
  margin-bottom: 20px;
}

ion-menu.md ion-list-header, ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list-header#section-header {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 1px 0 1px #F4AC32;
}

ion-menu.md ion-list#title-list {
  .title__container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 50px;

    ion-icon {
      color: #73849a;
      width: 33px;
      height: 33px;
      margin-right: 0;
    }

    ion-item {
      --padding-end: 0;
      margin-left: 35px;

      &.selected {
        --background: transparent;
        ion-icon {
          color: var(--ion-color-primary);
        }
      }
    }

    ion-item:not(.selected):hover {
      ion-icon {
        color: white;
      }
    }
  }

  ion-list-header {
    font-size: 2.3rem;
    font-weight: 300;
    width: fit-content;
  }

  ion-note {
    padding-left: 89px;
  }
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  --border-radius: 4px;
  --min-height: 35px;
  --background: var(--ion-background-color);
  --background-hover: var(--ion-color-primary);
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item {
  &:hover:not(.selected) ion-icon { color: white; }

  ion-icon {
    color: #616e7e;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
  }
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-item .selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
