@import "./../../theme/mixins";

ion-menu {
  border-right: 0;
  @include to-md { --width: 250px; }
  @include to-xs { --width: 220px; }

  ion-menu-toggle {
    align-self: center;
  }
}

.menu-pane-visible {
  width: 300px;
}

ion-menu > ion-content {

  // hide menu scrollbar
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-menu.ios ion-list,
ion-menu.md ion-list {
  background: #1e2023;
  margin-left: 8px;
  margin-right: 8px;

  @include from-sm { padding: 10px 25px; }

  ion-item {
    width: 100%;
    --padding-end: 0;

    ion-icon {
      @include to-md {
        margin-left: 10px;
      }
    }
  }
}

ion-menu ion-list:last-child {
  margin-bottom: 20px;
}

ion-menu.md ion-note {
  margin-bottom: 20px;
}

ion-menu.ios ion-list-header#section-header,
ion-menu.md ion-list-header#section-header {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  text-align: center;

  @include to-xs { font-size: 18px; }
}

ion-menu.ios,
ion-menu.md {

  .title__container {
    display: flex;
    padding-bottom: 8px;

    ion-menu-button {
      color: rgb(66,66,66);
    }

    ion-icon {
      color: #73849a;
      width: 30px;
      height: 30px;
      @include to-md { width: 25px; height: 25px }
      margin-right: 0;
    }

    ion-item {
      --background: transparent;
      --padding-end: 0;
      --inner-padding-end: 0;
    }

    ion-item.selected {
      --background: transparent;
      ion-icon {
        color: var(--ion-color-primary);
      }
    }

    ion-item:not(.selected):hover {
      ion-icon {
        color: white;
      }
    }

    ion-title {
      color: white;
      font-size: 2.3rem;
      padding: 0 8px;
      width: fit-content;

      @include to-md {
        font-size: 2rem;
      }

      @include to-xs {
        width: 100%;
        text-align: left;
        font-size: 1.8em;
      }
    }

  }

  .title__container {
    padding-left: 10px;

    @include to-sm {
      width: 100%;
    }

    @include to-md {
      padding-left: 10px;
      padding-top: 10px;
    }

    @include to-xs {
      padding-left: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    @include from-sm {
      justify-content: center;
      padding-left: 0;
      padding-top: 26px;
      padding-bottom: 25px;
    }
  }
}

ion-menu.ios,
ion-menu.md {

  ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    --border-radius: 4px;
    --min-height: 35px;
    --background: #1e2023;
    --background-hover: var(--ion-color-primary);

    @include to-sm {
      font-size: 14px;
    }

    ion-label {
      margin-right: 0;
    }
  }
}

ion-menu.ios ion-item.selected,
ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.ios ion-item.selected ion-icon,
ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item,
ion-menu.md ion-item {
  &:hover:not(.selected) ion-icon { color: white; }

  ion-icon {
    color: #616e7e;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
  }
}

ion-menu.ios ion-item ion-label,
ion-menu.md ion-item ion-label {
  font-size: 1.1em !important;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

ion-note {
  color: var(--ion-color-medium-shade);
}

/* +++ iOS +++ */
ion-menu.ios {

  ion-list-header {
    padding-bottom: 10px;
  }

  .title__container {
    padding-left: 8px;
    padding-top: 15px;
    padding-bottom: 14px;

    @include from-xs {
      padding-left: 18px;
      padding-top: 19px;
      padding-bottom: 18px;
    }

    @include from-sm {
      padding-top: 33px;
      padding-bottom: 33px;
    }

    ion-menu-button {
      color: var(--ion-color-primary);
      @include to-xs { margin-left: 7px; }
    }

    ion-menu-toggle {
      width: 180px;
      align-self: center;
    }
  }
}
