@import "../../../theme/mixins";

.tbk-week-card-wrapper {
  .ddu-school-week-card {
    ion-list {
      @include to-xs {
        padding: 8px;
      }

      .ddu-post-wrapper h2 {
        background: var(--skd-card-color);

        .dashboard-post {
          background: var(--skd-background-color);
        }
      }
    }
  }
}
