@import "../../../theme/mixins";

.exams-card {
  padding: 10px 30px;

  h1 {
    margin-top: 15px;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: var(--ddu-primary-color);
  }

  hr {
    background: white;
  }

  *:focus {
    outline: none;
    outline-offset: 0;
  }

  .header__wrapper,
  .dates-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      width: 36px;

      ion-icon {
        margin: 0;
        --ionicon-stroke-width: 45px;
      }
    }

    .input-elements {
      text-align: right;

      .DayPickerInput {
        align-self: center;

        input {
          width: 155px;
          padding: 10px;
          background: #1e1e1e;
          border: none;
        }

        .DayPickerInput-OverlayWrapper {
          z-index: 999;

          .DayPicker-Day:not(.DayPicker-Day--outside):hover {
            background: var(--ddu-secondary-color) !important;
            color: black !important;
          }

          .DayPicker-Day--today {
            color: var(--ddu-secondary-color) !important;
            font-weight: 700;
          }

          .DayPicker-Day--selected {
            background-color: var(--ddu-secondary-color) !important;
            color: black !important;
          }
        }
      }
      .subject-input,
      .title-input,
      .submit-button {
        position: absolute;
        width: 157px;
        right: 127px;
      }

      .subject-input {
        margin-top: 10px;
      }

      .title-input {
        margin-top: 75px;
      }

      .submit-button {
        margin-top: 180px;
        margin-right: 0;
      }
    }
  }

  .dates-container {
    display: flex;

    @include to-xs {
      display: block;
    }

    .DayPicker {
      @include from-xs {
        transform: translateX(-20px);
      }

      @include to-xs {
        width: 100%;
      }
    }

    .DayPicker-Day--today {
      color: var(--ddu-secondary-color) !important;
      font-weight: 700;
    }

    .DayPicker-Day--selected {
      background-color: var(--ddu-secondary-color) !important;
      color: black !important;
    }

    .ddu-exam-entries {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;

      .header {
        color: #b4b4b4 !important;
      }
    }
  }
}

/* LIGHT THEME */

.light-theme {
  .exams-card {
    .dates-container {
      .ddu-exam-entries {

        .header {
          color: #808080 !important;
          border-color: #dedede;

          .key {
            border-color: #dedede;
          }
        }
      }
    }
  }
}
