@import "../../../theme/mixins";

.profile__card {
  padding: 10px 30px 20px;

  h1 {
    margin-top: 15px;
    padding: 0;
  }

  ion-label {
    font-size: 1.1em;
    padding: 5px 0;
  }

  .change-pw-button {
    width: fit-content;
    margin-left: 0;
    margin-top: 10px;
  }
}
