@import "../../../theme/mixins";

.ddu-exam-date {
  padding: 10px 6px;
  background: var(--skd-background-color);
  font-weight: 700;
  border-radius: 4px;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .ddu-first-row {
    display: flex;
    justify-content: space-between;

    ion-badge {
      font-size: 1.1em;
    }

    .ddu-left-badges {
      display: flex;

      .ddu-exam-date-badge {
        text-decoration: underline;
        text-decoration-color: var(--ddu-primary-color);
      }

      .ddu-days-left-badge {
        margin-left: 5px;
        color: black;
        --padding-top: 4px;
        --padding-end: 8px;
        --padding-bottom: 4px;
        --padding-start: 8px;
        border-radius: 16px;
        border: 1px solid var(--ddu-secondary-color);
      }
    }

    .ddu-exam-date-badge, .ddu-exam-subject-badge {
      align-self: center;
      background: transparent;
      width: 100px;
      color: white;

      @include to-xs {
        width: 80px;
      }
    }
  }

  .ddu-second-row {
    #ddu-exam-title {
      display: block;
      padding: 5px 11px 0;
      border-radius: 4px;
      font-size: 1.1em;
    }
  }

}

.ddu-exam-date.completed {
  * {
    color: #b4b4b4 !important;
  }
}

/* LIGHT THEME */
.light-theme {
  .ddu-exam-date {
    background: #f3f3f3;

    .ddu-first-row {
      border-color: #dedede;

      .ddu-exam-date-badge, .ddu-exam-subject-badge {
        color: black;
      }
    }

    .ddu-second-row {
      #ddu-exam-title {
        color: black;
      }
    }
  }
}
