@import "./../../theme/mixins";

ion-toolbar {

    ion-buttons {
        margin-left: 10px;
        margin-top: 10px;
    }

    .title__wrapper {
        margin: 30px 0 14px;
        @include to-sm {
            margin: 20px 0 10px 10px;
            h1 { font-size: 30px; }
        }
    }
    h1 {
        font-size: 36px;
        font-weight: 300;
        display: inline;
        text-decoration: none;
        background-image: linear-gradient(-80deg, #FFD131 4%, #F4AC32 96%);
        background-repeat: no-repeat;
        background-position: 0 100%, 0 0;
        background-size: 100% 7%;
    }
}
