@import "./../../../theme/mixins";

div[role=textbox] {
  margin: 0 10px;
}

div[data-slate-node=element] {
  margin: 10px 0;
}

.utils__card {
  margin-top: 30px !important;

  .utils__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .utils__title {
      font-size: 1.5em;

      @include to-xs {
        display: none;
      }
    }
  }
}

.bottom__toolbar {
  .button__wrapper {
    text-align: right;
  }
}
