@import "../../../theme/mixins";

.quiz-list {
  background: transparent;
  padding-left: 10px;
  padding-right: 10px;

  .choice-container {
    display: flex;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 3px solid var(--ion-color-primary);

    .choice-prefix {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 55px;
      min-height: 62px;
      font-weight: bold;
      color: white;
      border-right: 3px solid var(--ion-color-primary);
    }

    ion-icon {
      font-weight: bold;
      font-size: 2em;
    }

    .choice-text {
      align-self: center;
      padding: 10px 20px;
    }

    .choice-prefix,
    .choice-text {
      font-size: 1.1em;
      margin: 0;
    }
  }
}

.hud {
  display: flex;
  margin-left: 20px;

  .hud-item-questions {
    margin-right: 20px;
  }

  .hud-item-questions,
  .hud-item-wrong-answers {
    border-radius: 5px;
    border: 3px solid var(--ion-color-primary);
    background-color: #F4AC32;

    .hud-prefix,
    .hud-main-text {
      font-weight: bold;
    }
  }

  .hud-prefix {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding: 5px;
    margin: 0;
    width: 120px;

    @include to-xs {
      font-size: 1.2rem;
      padding: 4px;
      width: 100px;
    }
  }

  h1 {
    background: var(--skd-card-color);
    text-align: center;
    margin: 0;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    @include to-xs {
      padding: 7px;
    }
  }
}

.quiz-container {
  margin-top: 40px;

  @include to-xs {
    margin-top: 0;
  }

  h2 {
    font-size: 1.35em;
    margin-bottom: 20px;

    @include to-xs {
      font-size: 1em;
    }
  }

  .correct {
    background: rgba(75, 235, 75, 0.5);
  }

  .wrong {
    background: rgba(220, 60, 60, 0.5);
  }
}

.choice-container:hover {
  cursor: pointer;
}

@media (hover: hover) {
  .choice-container:hover {
    .choice-prefix {
      background-color: #F4AC32 !important;
      color: black !important;
    }
  }
}

.correct,
.wrong {
  .choice-prefix {
    background-color: #F4AC32;
    color: black !important;
  }
}

/* Avoid choice containers sticky hover effect on mobile */
@media (hover: hover) {
  .choice-container:hover,
  .choice-container:active {

    .choice-prefix {
      background-color: #F4AC32;
      color: black;
    }
  }
}

/* FINISH SCREEN */

.finishContainer {
  text-align: center;

  .doneLabel {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 30px;

    @include to-xs {
      font-size: 2em;
    }
  }

  .congratText {
    font-size: 1.5em;

    @include to-xs {
      font-size: 1.2em;
    }
  }

  .congratEmoji {
    margin: 0;
    font-size: 5em;
  }

  .wrong-answers-container {
    h2, h3 {
      padding: 0 60px;
    }
    h2 {
      color: #b4b4b4;
    }
  }

  ion-button {
    margin-top: 20px;
  }
}

// Correct Answer SVG
.quiz-container {
  .correctCheckmark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke: black;
    stroke-miterlimit: 10;
    position:relative;
    margin: 0 auto;
  }

  .correctCheckmark__check {
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
}

// Success Quiz SVG
.finishContainer {
  .success-animation { margin: 30px auto;}

  .successMark {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke: var(--ion-color-primary);
    position: relative;
    margin: 0 auto;

    @include to-xs {
      width: 100px;
      height: 100px;
    }
  }

  .successMark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    animation: stroke 0.5s cubic-bezier(0.6, 0, 0.45, 1) 0.2s forwards;
  }

  .successMark__check {
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.6s forwards;
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
}
