@import "./mixins";

ion-content,
ion-toolbar,
.ion-page {
  background: #1e2023;
  --background: #1e2023;
}

ion-header {
  position: initial;
}

ion-toolbar {

  ion-buttons {
    margin-left: 10px;
    margin-top: 10px;
  }

  .title__wrapper {
    margin: 30px 0 14px 25px;
    @include to-sm {
      margin: 20px 0 10px 10px;
      h1 { font-size: 30px; }
    }
  }
  h1 {
    font-size: 36px;
    font-weight: 400;
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(-80deg, #FFD131 4%, #F4AC32 96%);
    background-repeat: no-repeat;
    background-position: 0 100%, 0 0;
    background-size: 100% 7%;
  }
}

ion-menu ion-label,
ion-list-header#menu-title,
ion-toolbar h1,
.container,
ion-card * {
  color: white !important;
}

ion-card {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  max-width: 1140px;
  @include to-xs { border-radius: 0; }

  @include to-xs {
    padding: 0 10px;
    margin: 10px 0;
  }

  ion-list.ios {
    padding-top: 10px;
  }

  h1 {
    font-weight: 800;
    margin-top: 5px;
    padding: 0 10px;
  }

  h2 {
    font-size: 1.3em;
    padding: 0 10px;
  }

  ul {
    margin-top: 0;
    padding-left: 0;
  }

  li + li {
    margin-top: 5px;
  }
}

ion-card + ion-card {
  margin-top: 20px;
}

ion-list {
  .title {
    text-overflow: ellipsis;
    @include to-xs { font-size: 0.7em; }
  }

  .description {
    color: #b4b4b4 !important;
    font-size: 0.8em;
    @include to-xs { font-size: 0.6em; }
  }
}
