@import "../../../theme/mixins";

.login-card {

  margin-top: 20px;
  min-width: 280px;
  align-self: center;
  text-align: center;
  background: #2c2e31;
  --background: #2c2e31;
  --padding-start: 0;

  .inputs__wrapper {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 300px;
    margin: 20px auto 30px;
    justify-content: space-between;

    ion-item {
      color: white;
      --background: #1e2023;
      --background-focused: var(--ion-color-primary);
    }
  }

  .button-container {
    display: flex;
    width: 300px;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .email-input,
  .password-input {
    border-radius: 15px;
    border-top-left-radius: 14px;

    &.item-has-focus,
    &.item-has-value {
      ion-label {
        color: grey !important;
      }
    }
  }

  .login__list {
    margin-top: 20px;
    min-width: 280px;
    align-self: center;
    text-align: center;
  }
}
