@import "../../../theme/mixins";

.login-card {

  .login-signIn .inputs__wrapper { height: 120px; }
  .login-signUp .inputs__wrapper { height: 185px; }

  margin-top: 20px;
  min-width: 280px;
  align-self: center;
  text-align: center;
  background: #2c2e31;
  --background: #2c2e31;
  --padding-start: 0;

  .inputs__wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto 30px;
    justify-content: space-between;

    ion-item {
      color: white;
      --background: #1e2023;
      --background-focused: none;

      ion-label { margin-left: 2px; }
      ion-input { --padding-start: 2px; }
    }
  }

  .button-container {
    display: flex;
    width: 300px;
    align-self: center;
    justify-content: space-evenly;
    margin: 0 auto 20px;
  }

  .name-input,
  .email-input,
  .password-input {
    --border-radius: 15px;

    &.item-has-value ion-label {
      color: grey !important;
    }
    &.item-has-focus ion-label {
      color: var(--ion-color-primary) !important;
    }
  }

  .login__list {
    margin-top: 20px;
    min-width: 280px;
    align-self: center;
    text-align: center;
  }

  .spinner__wrapper {
    margin: 0;
  }
}
