@import "../../../theme/mixins";

.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
}

.mobile-searchbar {
  top: 100px;
  position: absolute;
  background: var(--ddu-primary-color);
  --background: var(--ddu-primary-color);
  --box-shadow: none;
  --placeholder-color: black;
  --icon-color: black;
  --color: black;
  z-index: 99;

  @include to-md {
    top: 75px;
  }

  @include to-xs {
    top: 68px;
  }

  ion-icon {
    color: black !important;
  }
}

.ios.mobile-searchbar {
  @include to-md {
    top: 73px;
  }
  @include to-xs {
    top: 67px;
  }
}

.mobile-search-content--open {
  --offset-top: -59px !important;
}

ion-list, .ios {
  ul {
    margin-top: 0;
  }
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  max-width: 1000px;

  @include from-xs {
    margin-right: 25px;
  }

  @include to-md {
    margin: 8px 10px ;
  }

  @include to-xs {
    margin: 10px;
    margin-bottom: 8px;
  }

  h1 {
    font-size: 1.5em;
    margin: 11px auto;
    margin-right: 30px;
    flex-shrink: 0;
    align-self: center;
    font-weight: 600;

    @include to-sm {
      margin-right: 30px;
      margin-top: 13px;
    }

    @include to-xs {
      margin: 0 10px;
      font-size: 4.5vw;
      flex-shrink: inherit;
    }

    @include from-xs {
      font-size: 1.7em;
    }
  }

  .buttons-wrapper {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    ion-toggle {
      --background: black;
      --background-checked: white;
      --handle-background: var(--ddu-primary-color);
      --handle-background-checked: var(--ddu-primary-color);

      &:hover {
        --handle-background: var(--ddu-secondary-color);
        --handle-background-checked: var(--ddu-secondary-color);
      }

      @include to-tiny {
        display: none;
      }
    }

    ion-button:not(:last-of-type) {
      margin-right: 5px;
    }

    #theme-button,
    #search-post-button,
    #my-profile-button,
    #log-button {
      height: 48px;
      --padding-start: 0;
      --padding-end: 0;
      --overflow: initial;
      --background-hover: none;

      @include to-xs {
        height: 32px;
        width: 32px;
      }

      ion-icon {
        color: var(--tbk-third-color);
        width: 100%;
        height: 30px;
        margin: 0;

        @include to-xs {
          height: 30px;
        }
      }

      #hover-text.theme-label {
        top: 71px;
      }

      #hover-text {
        position: absolute;
        top: 35px;
        max-width: 990px;
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        font-size: 12px;
        color: #b4b4b4;
        text-transform: none;
        opacity: 0;

        @include to-sm {
          top: 50px;
        }

        @include to-xs {
          top: 36px;
          font-size: .8em;
          display: none;
        }
      }
    }

    #log-button ion-icon {
      height: 34px;
    }

    #log-button.button-disabled {
      opacity: 1;

      ion-icon {
        color: var(--ddu-primary-color);
      }
    }

    #theme-button:hover,
    #search-post-button:hover,
    #my-profile-button:hover,
    #log-button:hover {

      #hover-text {
        opacity: 1;
        font-weight: 600;
      }

      ion-icon {
        @include from-xs {
          transition: 50ms ease-in-out;
          color: white;
        }
      }
    }

    #theme-button {
      display: flex;
      align-items: center;
      width: fit-content;
    }

    #my-profile-button.ion-activated,
    #log-button.ion-activated {
      opacity: 1;
      ion-icon {
        @include to-xs { color: white; opacity: 1; }
      }
    }

    #my-profile-button.selected {
      ion-icon {
        color: var(--ddu-primary-color);
      }
    }

    #search-post-button {
      ion-icon {
        height: 33px;
      }
    }
  }
}

.log__toast {
  --background: black;
  --color: white;
  outline: none;
  @include from-xs { transform: translateY(-20px) !important; }
}

.title__wrapper ion-searchbar {
  width: 250px;
  padding-left: 0;
  flex-shrink: 1;
  margin-right: 20px;
  --border-radius: var(--ddu-border-radius);
  --background: var(--skd-card-color);
  --icon-color: var(--tbk-third-color);
  --cancel-button-color: var(--tbk-third-color);
  --placeholder-color: #dadada;

  @include to-md {
    display: none;
  }

  .searchbar-input-container input {
    box-shadow: none;
    color: white;
    padding-right: 45px;
    padding-top: 8px;
  }

  .searchbar-clear-button {
    display: none !important;
  }
}

ion-searchbar {
  input {
    padding-inline-end: 0px !important;
  }
  .searchbar-clear-button {
    padding-inline-end: 28px !important;
  }
}

ion-searchbar:hover {
  --icon-color: white;
  --cancel-button-color: white;
}

.searchbar-has-focus,
.searchbar-has-value {
  --icon-color: var(--ddu-primary-color) !important;
  --cancel-button-color: var(--ddu-primary-color) !important;
}

.results-container .article__list {
  background: transparent;
}

.results-container {
  display: flex;
  flex-direction: column;
  height: 88%;
  width: 100%;
  max-width: 1000px;

  @include to-xs {
    margin-left: 0;
  }

  .title-container {
    display: flex;
    align-self: center;
    color: white;

    @include from-sm {
      margin-top: 10px;
    }

    h1 {
      align-self: center;
      font-size: 20px;
      font-weight: 600;
      padding: 11px 15px;
    }

    .spinner__wrapper {
      margin-left: 5px;
      margin-top: 27px;
      margin-bottom: 10px;
      padding: 11px 0;
    }
  }

  .search-results {

    .search-element-content {
      width: 100%;
    }

    .search-element-header {
      display: flex;
      width: 100%;
      justify-content: space-between;

      ion-badge {
        height: fit-content;
        --padding-start: 7px;
        --padding-top: 4px;
        --padding-bottom: 4px;
        --padding-end: 7px;
        align-self: center;
        color: black;
        flex-shrink: 0;
        margin: auto 0;

        @include to-xs {
          font-size: .7em;
          --padding-start: 5px;
          --padding-top: 5px;
          --padding-bottom: 4px;
          --padding-end: 5px;
        }
      }
    }

    .search-element {
      margin-top: 0;
      margin-bottom: 15px;
      border-radius: 5px;
      padding: 0 10px;

      ion-item {
        --background: transparent;
        --background-hover: transparent;
        --padding-start: 8px;
        --inner-padding-end: 5px;
      }

      &:hover {
        h1 {
          text-decoration: underline;
          text-decoration-color: var(--ddu-primary-color);
        }
      }
    }
    .search-element:last-child {
      margin-bottom: 0;
    }

    .search-element:hover {
      background: black;
      cursor: pointer;
    }
  }
}

.ios .title__wrapper {

  @include from-sm {
    margin: 34px 10px 20px;
  }

  ion-searchbar {
    padding: 0;
  }
}

/* LIGHT THEME */
.light-theme {
  ion-searchbar:hover {
    --icon-color: var(--ddu-primary-color);
    --cancel-button-color: var(--ddu-primary-color);
  }

  .searchbar-has-focus,
  .searchbar-has-value {
    --icon-color: var(--ddu-secondary-color) !important;
    --cancel-button-color: var(--ddu-secondary-color) !important;
  }

  .results-container {
    .search-results {
      .search-element:hover {
        background: #fafafa !important;
      }
    }
  }
}
