@import "../../../theme/mixins";

.menu-pane-visible {
  width: 320px;
}

ion-menu {
  border-right: 0;

  @include to-md {
    --width: 250px;
  }

  .tbk-sidenav-header {
    background: black;

    @include from-sm {
      justify-content: center;
      padding-left: 0;
      padding-top: 30px;
      padding-bottom: 8px;
    }

    .tbk-sidenav-header-buttons {
      display: flex;
      width: 100%;

      @include to-sm {
        padding-left: 10px;
      }

      ion-menu-toggle {
        margin: 10px auto 21px;

        @include to-sm {
          margin: 18px auto 15px 0;
        }

        @include to-xs {
          margin: 14px 0 14px;
          width: 180px;
        }

        ion-title {
          color: white;
          font-size: 1.7rem;
          font-weight: 600;
          padding: 0 0 0 10px;

          @include to-xs {
            font-size: 1.3em;
          }
        }

        ion-item {
          --min-height: 41px;
          --background: transparent;
          --background-hover: transparent;
          --background-focused: transparent;
        }
      }
    }
  }

  .tbk-section-card {
    background:  transparent;
    box-shadow: none;
    border-radius: 0;
    padding-left: 0;
    padding-top: 0;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0;

    @include to-xs {
      margin-top: 5px;
      padding-left: 0 !important;
    }

    .tbk-section-header {
      font-size: 1.5em;
      letter-spacing: 1px;
      background: var(--skd-card-color);
      box-shadow: var(--tbk-dark-shadow);
      border-top-right-radius: var(--ddu-border-radius);
      border-bottom-right-radius: var(--ddu-border-radius);
      margin-top: 10px;
      margin-bottom: 15px;
      padding-left: 30px;
      align-items: center;

      @include to-xs {
        font-size: 1.3em;
      }
    }
  }

}

ion-menu {

  .tbk-sidenav-header {
    ion-item {
      --min-height: 41px;
      --background: transparent;
      --background-hover: transparent;
      --background-focused: transparent;

      ion-icon {
        color: #73849a;
        --ionicon-stroke-width: 40px;
        width: 30px;
        height: 30px;
        margin-right: 0;

        @include to-md {
          width: 25px; height: 25px
        }
      }
    }

    ion-item.selected {
      ion-icon {
        color: var(--ddu-primary-color);
        transition: 50ms ease-in-out;
      }
    }

    ion-item:hover {
      ion-icon {
        @include from-xs {
          color: white !important;
          transition: 50ms ease-in-out;
        }
      }
    }
  }

  ion-content {
    .tbk-nav-item {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 3px;

      @include to-xs {
        margin-left: 10px;
        margin-right: 10px;
      }

      ion-item {
        --background: transparent;
        --background-hover: transparent;
        --background-focused: transparent;
        border-radius: var(--ddu-border-radius);
        --min-height: 30px;

        @include to-xs {
          --min-height: 20px;
          font-size: 1em;
        }

        &:hover:not(.selected) {
          --color: var(--ddu-primary-color);

          ion-icon {
            @include from-xs {
              transition: 50ms ease-in-out;
              color: white;
            }
          }
        }

        &.selected {
          .tbk-nav-item-label {
            text-decoration: underline;
            text-decoration-color: var(--ddu-primary-color);
          }
          ion-icon {
            color: var(--ddu-primary-color);
            transition: 50ms ease-in-out;
          }
        }

        .tbk-nav-item-label {
          white-space: pre-wrap;
          margin: 6px 0;
        }
      }

      ion-icon {
        color: #73849a;
        width: 26px;
        height: 26px;
        margin-right: 15px;
        margin-top: 4px;
        margin-bottom: 4px;

        @include to-md {
          width: 25px; height: 25px
        }
      }
    }
  }
}

/* LIGHT THEME */
.light-theme {
  ion-menu {

    .tbk-sidenav-header {
      display: flex;
      background: white;

      ion-menu-button,
      ion-menu-toggle ion-title {
        color: black;
      }
    }

    ion-content {
      .tbk-section-card {
        background:  transparent !important;
        box-shadow: none;

        .tbk-section-header {
          background: var(--skd-card-color);
          box-shadow: var(--tbk-light-shadow);
        }
      }

      ion-item {
        --background: transparent !important;

        &:hover:not(.selected) {
          ion-icon {
            @include from-xs {
              transition: 50ms ease-in-out;
              color: white;
            }
          }
        }

        &.selected {
          --background: black;

          .tbk-nav-item-label {
            text-decoration: underline;
            text-decoration-color: var(--ddu-primary-color);
          }
          ion-icon {
            color: var(--ddu-primary-color);
            transition: 50ms ease-in-out;
          }
        }
      }
    }

  }
}
