@import "../../../theme/mixins";

ion-menu {
  border-right: 0;
  @include to-md { --width: 250px; }

  ion-menu-toggle {
    align-self: center;
  }
}

.menu-pane-visible {
  width: 320px;
}

ion-menu.ios,
ion-menu.md {
  ion-list {
    background: var(--skd-background-color);
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 0;

    @include from-sm {
      padding: 10px 15px;
      padding-right: 0;
      margin-bottom: 0 !important;
    }

    ion-item {
      width: 100%;
      --padding-end: 0;
      border-radius: 0;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

      @include to-xs {
        --padding-start: 0;
      }

      ion-icon {
        @include to-md {
          margin-left: 10px;
        }
      }
    }

    ion-item:hover {
      text-decoration: underline;
    }

    ion-menu.ios ion-list-header#section-header {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    ion-menu-toggle:last-of-type ion-item {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  ion-content {
    // hide menu scrollbar
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

ion-menu ion-list {
  margin-bottom: 10px !important;
}

ion-menu ion-list:first-child {
  margin-top: 20px !important;
  @include to-sm {
    margin-top: 13px !important;
  }
  @include to-xs {
    margin-top: 19px !important;
  }
}
ion-menu.ios ion-list:first-child {
  @include to-md {
    margin-top: 17px !important;
  }

  @include to-xs {
    margin-top: 5px !important;
  }
}

ion-menu ion-list:last-child {
  margin-bottom: 35px !important;
}

ion-menu.ios ion-list-header#section-header,
ion-menu.md ion-list-header#section-header {
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: var(--skd-card-color);
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

  @include to-md {
    font-size: 18px;
  }
}

ion-menu.ios {
  .buttons__wrapper {

    ion-menu-button,
    ion-menu-toggle {

      @include to-md {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
      }
    }
  }
}

ion-menu.ios,
ion-menu.md {

  .title__container {
    display: flex;
    padding-bottom: 8px;

    .buttons__wrapper {
      display: flex;
      width: 100%;

      ion-menu-button,
      ion-menu-toggle {
        margin-bottom: 21px;

        @include to-md {
          margin-top: 9px;
          margin-bottom: 17px;
          margin-left: 0;
        }

        @include to-xs {
          margin-top: 5px;
          margin-bottom: 8px;
        }
      }

      ion-menu-button {
        color: var(--ion-color-primary);
        margin-left: 12px;

        @include to-xs {
          margin-left: 8px;
        }
      }
    }

    ion-menu-toggle {
      margin: 10px auto;
      @include to-md {
        margin: auto;
      }
    }

    ion-icon {
      --ionicon-stroke-width: 40px;
      color: #73849a;
      width: 30px;
      height: 30px;
      @include to-md { width: 25px; height: 25px }
      margin-right: 0;
    }

    ion-item {
      --background: transparent;
      --padding-end: 0;
      --inner-padding-end: 0;
    }

    ion-item.selected {
      --background: transparent;
      ion-icon {
        color: var(--ion-color-primary);
      }
    }

    ion-title {
      color: white;
      font-size: 1.85rem;
      font-weight: 600;
      padding: 0 8px;
      width: fit-content;

      @include to-sm {
        font-size: 1.5em;
      }

      @include to-xs {
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
      }
    }

  }

  .title__container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    @include to-sm {
      width: 100%;
    }

    @include to-md {
      padding-left: 0;
      padding-top: 4px;
      padding-bottom: 0;
    }

    @include to-xs {
      padding-left: 0;
      padding-top: 5px;
      padding-bottom: 0;
    }

    @include from-sm {
      justify-content: center;
      padding-left: 0;
      padding-top: 30px;
      padding-bottom: 8px;
    }
  }
}

ion-menu.ios,
ion-menu.md {

  ion-item {
    --padding-start: 15px;
    --padding-end: 10px;
    --min-height: 41px;
    --background: #1e2023;
    --background-hover: transparent;
    --background-focused: rgba(var(--ion-color-primary-rgb), 0.6);

    ion-label {
      font-size: 16px !important;
      margin-right: 0;
      color: white !important;

      @include to-sm {
        font-size: 14px !important;
      }
    }
  }
}

ion-menu.ios ion-item.selected,
ion-menu.md ion-item.selected {
  --background: var(--skd-background-color);
}

ion-menu.ios ion-item.selected ion-icon,
ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md {
  ion-item:hover:not(.selected) {

    --background: var(--skd-background-color);

    ion-icon {
      @include from-xs {
        transition: 50ms ease-in-out;
        color: white;
      }
    }
  }
}

ion-menu.ios ion-item,
ion-menu.md ion-item {

  ion-icon {
    color: #616e7e;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
  }
}

ion-menu.ios ion-item ion-label,
ion-menu.md ion-item ion-label {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: -2px;
}

ion-note {
  color: var(--ion-color-medium-shade);
}

/* +++ iOS +++ */
ion-menu.ios {

  ion-list:first-child ion-list-header {
    @include to-xs {
      margin-top: 12px;
    }
  }

  ion-list-header {
    padding-bottom: 10px;
  }

  .title__container {
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 8px;

    @include from-xs {
      padding-left: 18px;
      padding-top: 19px;
      padding-bottom: 10px;
    }

    @include from-sm {
      padding-top: 33px;
      padding-bottom: 11px;
    }

    ion-menu-button {
      color: var(--ion-color-primary);
      @include to-xs { margin-left: 7px; }
    }

    ion-menu-toggle {
      width: 180px;
      align-self: center;
    }
  }
}
