@import "../../theme/mixins";

ion-card,
.subjects__list ion-list {
  background: #2c2e31;

  .subjects__topic {
    h2 { padding: 0 10px; }
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      width: 36px;

      ion-icon {
        padding-left: 12px;
      }
    }
  }

  .subjects__list ion-item {
    --background: #383a3d;
    --background-hover: var(--ion-color-primary);
    --background-selected: rgba(var(--ion-color-primary-rgb), 0.4);
    --background-focused: rgba(var(--ion-color-primary-rgb), 0.6);
    --background-activated: rgba(var(--ion-color-primary-rgb), 0.8);
    --detail-icon-color: white;
    border-radius: 5px;
    --border-radius: 5px;
    padding: 0 5px;
    --min-height: 35px;

    @include to-xs {
      --padding-start: 10px;
      --inner-padding-end: 5px;
      --min-height: 33px;
    }

    &:hover {
      --detail-icon-opacity: 1;
      --detail-icon-color: var(--ion-color-primary);
    }

    .element__wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 5px 0;
      margin-right: 5px;

      @include to-xs {
        display: block;
      }

      .title {
        width: 70%;
        text-wrap: normal;
        margin-right: 10px;
        margin-top: 1px;
        color: white;
        font-size: 0.9em;

        @include to-xs {
          margin-right: 0;
          width: 100%;
          font-size: 0.85em;
        }
      }

      .description {
        width: 30%;
        text-align: right;
        font-size: 0.8em;
        color: #b4b4b4 !important;

        @include to-xs {
          width: 100%;
          text-align: left;
          font-size: 0.75em;
        }
      }
    }
  }

  .subjects__list {

    ion-item + ion-item {
      margin-top: 10px;
    }

    ion-item,
    ion-item:hover,
    ion-item:focus {
      @include to-xs {
        --detail-icon-opacity: 0.25 !important;
      }
    }
  }
}

.createPost__popover {

  .popover-content.sc-ion-popover-ios {
    background: transparent;
    border-radius: 5px;

    ion-item {
      --padding-start: 0;
    }
  }

  .popover-content {
    width: 350px;
  }

  .createPost__card {
    padding: 20px;
    background: black;
    border: 2px solid var(--ion-color-primary);
    text-align: center;

    ion-item {
      background: #1e2023;
    }

    .title__input,
    .description__input,
    .topic__input {

      &.item-has-focus,
      &.item-has-value {
        ion-label {
          color: grey !important;
        }
      }
    }

    .topic__input.newTopic {
      ion-input {
        width: 80%;
      }
      ion-select {
        width: 20%;
      }
    }

    .topic__input.hideInput ion-input {
      display: none;
    }

    ion-select {
      max-width: 100%;
      width: 100%;
      padding: 0 5px;
    }

    ion-button {
      margin-top: 20px;
    }

    ion-item {
      --background: transparent;
      --border-color: black;

      ion-input {
        --padding-top: 0;
        --padding-bottom: 0;
      }

      ion-label,
      ion-input {
        padding-left: 5px;
        --padding-start: 5px;
      }
    }
  }
}

.select-popover {
  .sc-ion-popover-ios-h {
    background: transparent;
  }

  ion-item:last-child { --inner-border-width: 0; }

  ion-list {
    padding: 0;
  }

  .popover-arrow,
  .popover-content ion-item {
    --background: var(--ion-color-primary) !important;
    color: black;

    ion-label {
      white-space: initial !important;
    }
  }

  .popover-content ion-item {
    ion-label { color: black; }
    ion-radio {
      --color: black;
      --color-checked: black;
    }
  }

  .popover-content {
    background: transparent;
  }
}

