@import "./../../../theme/mixins";

ion-card,
.subjects__list ion-list {
  background: #2c2e31;

  .header__wrapper {
    display: flex;
    justify-content: space-between;

    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      width: 36px;

      ion-icon {
        padding-left: 12px;
      }
    }
  }

  .subjects__list ion-item {
    --background: #383a3d;
    --background-hover: rgba(var(--ion-color-primary-rgb), 0.4);
    --background-selected: rgba(var(--ion-color-primary-rgb), 0.4);
    --background-focused: rgba(var(--ion-color-primary-rgb), 0.6);
    --background-activated: rgba(var(--ion-color-primary-rgb), 0.8);
    border-radius: 10px;
    --border-radius: 10px;
    padding: 0 5px;
    --min-height: 35px;
    --color-hover: var(--ion-color-primary);

    @include to-xs {
      --padding-start: 10px;
      --inner-padding-end: 5px;
      --min-height: 33px;
    }

    &:hover { --detail-icon-opacity: 1; }

    .element__wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 5px 0;
      margin-right: 5px;

      @include to-xs {
        display: block;
      }

      .title {
        width: 70%;
        text-wrap: normal;
        margin-right: 10px;
        margin-top: 1px;
        font-size: 0.9em;

        @include to-xs {
          margin-right: 0;
          width: 100%;
          font-size: 0.85em;
        }
      }

      .description {
        width: 30%;
        text-align: right;
        font-size: 0.8em;
        color: #b4b4b4 !important;

        @include to-xs {
          width: 100%;
          text-align: left;
          font-size: 0.75em;
        }
      }
    }
  }

  .subjects__list {

    ion-item + ion-item {
      margin-top: 10px;
    }
  }
}

ion-app.ios .subjects__list ion-item {
  --detail-icon-opacity: 0.25 !important;
  --detail-icon-color: initial !important;
}

.createPost__popover {

  .popover-content.sc-ion-popover-ios {
    background: transparent;

    ion-item {
      --padding-start: 0;
    }
  }

  .createPost__card {
    padding: 20px;
    margin: 0;

    .title__input,
    .description__input,
    .topic__input {

      &.item-has-focus,
      &.item-has-value {
        ion-label {
          color: grey !important;
        }
      }
    }

    .topic__input.newTopic {
      ion-input {
        width: 80%;
      }
      ion-select {
        width: 20%;
      }
    }

    .topic__input.hideInput ion-input {
      display: none;
    }

    ion-select {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }

    ion-button {
      margin-top: 20px;
    }

    ion-item {
      --background: transparent;
    }
  }
}

.select-popover {
  .popover-content.sc-ion-popover-ios {
    ion-item {
      background: black !important;
      --background: black !important;
    }
  }
}
