@import "./../../../theme/mixins";

ion-card,
.subject__list ion-list {
  background: #2c2e31;

  .subject__list ion-item {
    --background: #383a3d;
    --background-hover: rgba(var(--ion-color-primary-rgb), 0.4);
    --background-focused: rgba(var(--ion-color-primary-rgb), 0.6);
    --background-activated: rgba(var(--ion-color-primary-rgb), 0.8);
    border-radius: 4px;
    --border-radius: 4px;
    padding: 0 5px;
    --min-height: 40px;
    @include to-xs { --min-height: 33px; }
    --color-hover: var(--ion-color-primary);

    &:hover { --detail-icon-opacity: 1; }

    @include to-xs {
      --padding-start: 10px;
      --inner-padding-end: 5px;
    }

    .element__wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      .title { width: 70%; text-wrap: normal; }
      .description { width: 30%; text-align: right; }

      .title {
        margin-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include to-xs { margin-right: 5px; }
      }
    }
  }

  .subject__list {
    ion-item + ion-item {
      margin-top: 10px;
    }
  }
}
