@import "../../../theme/mixins";

.dashboard__container {

    ion-card {
        @include to-xs {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }

    .start__card {

        h1 {
            margin-top: 10px;
        }

        .spinner__wrapper {
            margin: 30px 0;
        }

        .ddu-entry {
            padding: 10px 6px;
            background: var(--skd-background-color);
            font-weight: 700;
            border-radius: 4px;

            &:not(:last-of-type) {
                margin-bottom: 10px;
            }

            .ddu-first-row {
                display: flex;
                justify-content: space-between;

                .ddu-left-badges {
                    display: flex;

                    .ddu-exam-date {
                        text-decoration: underline;
                        text-decoration-color: var(--ddu-primary-color);
                    }

                    .ddu-days-left {
                        margin-left: 5px;
                        color: black;
                    }
                }

                .ddu-left-badges .ddu-exam-date,
                .ddu-exam-subject {
                    background: transparent;
                    width: 100px;

                    @include to-xs {
                        width: 80px;
                    }
                }
            }

            .ddu-second-row {
                #ddu-exam-title {
                    padding: 5px 17px;
                    display: block;
                    text-transform: uppercase;
                    border-radius: 4px;
                }
            }

        }

    }
}

.progressBoard__card {

    ion-progress-bar {
        height: 6px;
        margin: 10px 0;
        --background: var(--skd-background-color);
    }

    .ddu-lessons-progressbar {
        margin-bottom: 20px;
    }

    .ddu-weeks-progressbar {
        --progress-background: var(--ddu-secondary-color);
    }

    h3:last-of-type {
        margin-top: 0;
    }

    .ddu-post-wrapper {
        margin-top: 20px;
    }
}

.start__card,
.progressBoard__card,
.ddu-school-week-card {
    padding-top: 5px;

    ion-list {
        background: transparent !important;

        @include from-xs {
            padding: 10px;
        }
    }

    h2 {
        font-size: 1rem;
        margin: 10px;
    }

    h3 {
        font-size: 1rem;
        margin: 30px 0 10px 10px;
    }

    h3:last-child {
        margin-top: 0;
    }
}

.progressBoard__card,
.ddu-school-week-card {

    .card-header {
        margin-top: 10px;
    }

    .ddu-post-wrapper {
        display: flex;
        align-items: center;
        margin-left: -10px;
        margin-right: -10px;

        .lesson-label {
            margin-left: 10px;
            margin-right: 10px;
            width: 150px;
        }

        h2 {
            width: 100%;
            display: flex;
            align-items: center;

            @include to-xs {
                align-items: unset;
                flex-direction: column;
            }

            .dashboard-post {
                cursor: pointer;
                width: 100%;
                background: var(--skd-background-color);
                border-radius: 5px;
                margin-left: 10px;
                padding: 10px;

                &:hover {
                    background: black !important;
                }

                .post-title {
                    display: flex;
                    margin-right: 7px;
                }

                .post-description {
                    color: #b4b4b4;
                    font-size: 0.9em;
                }

                @include to-xs {
                    margin-left: 0;
                    margin-top: 5px;

                    .post-title {
                        font-size: 0.85em;
                    }
                    .post-description {
                        font-size: 0.75em;
                    }
                }

                &:hover {
                    .post-title {
                        text-decoration: underline;
                        text-decoration-color: var(--ddu-primary-color);
                    };
                }
            }

        }

    }
}

/* LIGHT THEME */

.light-theme {
    .start__card {
        .header {
            border-bottom-color: #dedede !important;
        }
        .key, .value {
            border-right-color: #dedede !important;
        }
        .key {
            color: #808080;
        }
        .ddu-month-dates {
            color: black;
        }


        .ddu-entry {

            .ddu-first-row {
                border-color: #dedede;

                .ddu-exam-date, .ddu-exam-subject {
                    color: black;
                }
            }

            .ddu-second-row {
                #ddu-exam-title {
                    color: black;
                }
            }
        }
    }

    .progressBoard__card ion-progress-bar {
        --background: #f3f3f3;
    }

    .ddu-post-wrapper h2 .dashboard-post {
        .post-description {
            color: #808080;
        }

        &:hover {
            background: #ececec !important;
        }
    }
}
