@import "../../../theme/mixins";

.dashboard__container {

    ion-card {
        @include to-xs {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }

    .start__card {

        h1 {
            margin-top: 10px;
        }

        .spinner__wrapper {
            margin: 30px 0;
        }

    }
}

.progressBoard__card {

    ion-progress-bar {
        height: 6px;
        margin: 10px 0;
        --background: var(--skd-background-color);
    }

    .ddu-lessons-progressbar {
        margin-bottom: 20px;
    }

    .ddu-weeks-progressbar {
        --progress-background: var(--ddu-secondary-color);
    }

    h3:last-of-type {
        margin-top: 0;
    }

    .ddu-post-wrapper {
        margin-top: 20px;

        h2 {
            padding-right: 12px;
        }

        .dashboard-post {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .lesson-label {
            margin-left: 2px;

            @include to-xs {
                margin-top: 4px;
            }
        }
    }
}

.ddu-school-week-card {
    .tbk-week-day-container {
        .ddu-post-wrapper {
            margin-left: -10px;
            margin-right: -10px;

            h2 {
                padding-left: 5px;
            }
        }
    }
}

.start__card,
.progressBoard__card,
.ddu-school-week-card {
    padding-top: 5px;

    ion-list {
        background: transparent !important;

        @include from-xs {
            padding: 10px;
        }
    }

    .tbk-week-day-container {
        padding: 10px 15px;
        background: var(--skd-background-color);
        border-radius: var(--ddu-border-radius);

        .tbk-weekday-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            font-family: MavenPro-Bold, sans-serif;
            text-transform: uppercase;

            p {
                color: var(--tbk-contrast-color-dark);
                margin-top: 0;

                @include to-xs {
                    margin-bottom: 0;
                }
            }

            .tbk-weekday-label {
                width: 125px;

                @include from-xs {
                    text-align: center;
                }
            }
        }
    }

    .tbk-week-day-container:not(:last-of-type) {
        margin-bottom: 10px;
    }

    .tbk-week-day-container {
        .ddu-post-wrapper:last-of-type h2 {
            padding-bottom: 0;
        }
    }

    h2, h3 {
        font-size: 1.2em;

        @include to-tiny {
            font-size: 1.1em;
        }
    }

    h2 {
        padding: 5px 8px;
        margin: 0;
    }

    h3 {
        margin: 30px 0 10px;
    }

    h3:last-child {
        margin-top: 0;
    }
}

.progressBoard__card,
.ddu-school-week-card {

    .card-header {
        margin-top: 10px;
    }

    .ddu-post-wrapper {
        display: flex;
        align-items: center;

        .lesson-label {
            width: 150px;
            margin-left: 6px;
            margin-bottom: 2px;

            @include from-xs {
                text-align: center;
            }
        }

        h2 {
            width: 100%;
            display: flex;
            align-items: center;
            background: var(--skd-background-color);
            border-radius: var(--ddu-border-radius);

            @include to-xs {
                align-items: unset;
                flex-direction: column;
            }

            .dashboard-post {
                cursor: pointer;
                width: 100%;
                background: var(--skd-card-color);
                border-radius: var(--ddu-border-radius);
                margin-left: 10px;
                padding: 8px 10px;

                &:hover {
                    background: black !important;
                }

                .post-title {
                    display: flex;
                    margin-right: 7px;
                }

                .post-description {
                    color: #b4b4b4;
                    font-size: 0.9em;
                }

                @include to-xs {
                    margin-left: 0;
                    margin-top: 5px;

                    .post-title {
                        font-size: 0.85em;
                    }
                    .post-description {
                        font-size: 0.75em;
                    }
                }

                &:hover {
                    .post-title {
                        text-decoration: underline;
                        text-decoration-color: var(--ddu-primary-color);
                    };
                }

                .tbk-description-label {
                    margin-right: 8px;

                    @include from-xs {
                        margin-bottom: 1px;
                    }

                    @include to-xs {
                        margin-top: 1px;
                    }
                }

            }

        }

    }
}

/* LIGHT THEME */

.light-theme {
    ion-card {
        box-shadow: var(--tbk-light-shadow);
    }
    .start__card {
        .header {
            border-bottom-color: #dedede !important;
        }
        .key, .value {
            border-right-color: #dedede !important;
        }
        .key {
            color: #808080;
        }
        .ddu-month-dates {
            color: black;
        }
    }

    .progressBoard__card ion-progress-bar {
        --background: #f7f7f7;
    }

    .tbk-week-day-container {
        background: #f7f7f7;

        .tbk-weekday-header {
            p {
                color: var(--tbk-contrast-color-dark) !important;
            }
        }
    }

    .ddu-post-wrapper h2 {
        background: #f7f7f7;

        .dashboard-post {
            &:hover {
                background: #ececec !important;
            }
        }
    }
}
