@import "../../../theme/mixins";

.dashboard__container {
    ion-progress-bar {
        height: 6px;
        border-radius: 6px;
    }

    .start__card {
        h2 {
            margin: 30px 10px 20px;
        }
    }
}

.start__card,
.progressBoard__card,
.lastLessons-card {
    padding-top: 5px;

    ion-list {
        background: transparent !important;
    }

    h1 {
        text-decoration: underline;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1rem;
        margin: 10px;
    }

    h3 {
        margin: 30px 10px 10px;
        font-size: 1rem;
    }
}

.lastLessons-card {
    h1 {
        margin-bottom: 20px;
    }
}

.progressBoard__card,
.lastLessons-card {

    .progress__bar__wrapper {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .lesson-link {
        display: flex;
        align-items: center;
        margin-left: -10px;
        margin-right: -10px;

        .lesson-label {
            margin-left: 10px;
            margin-right: 10px;
            width: 150px;
        }

        h2 {
            width: 100%;
            display: flex;
            align-items: center;

            @include to-xs {
                align-items: unset;
                flex-direction: column;
            }

            .dashboard-post {
                cursor: pointer;
                width: 100%;
                background: var(--skd-background-color);
                border-radius: 5px;
                margin-left: 10px;
                margin-right: 10px;
                padding: 10px;

                &:hover {
                    background: black !important;
                }

                .post-title {
                    display: flex;
                    margin-right: 7px;
                }

                .post-description {
                    color: #b4b4b4;
                    font-size: 0.9em;
                }

                @include to-xs {
                    margin-left: 0;
                    margin-top: 5px;

                    .post-title {
                        font-size: 0.85em;
                    }
                    .post-description {
                        font-size: 0.75em;
                    }
                }

                &:hover {
                    .post-title {
                        text-decoration: underline;
                    };
                }
            }

        }

    }
}

.light-theme {
    .lesson-link h2 .dashboard-post {
        .post-description {
            color: #808080;
        }

        &:hover {
            background: #ececec !important;
        }
    }
}
